//small-navbar
.nav-black {
  background-color: $color-black;
  color: white;
  padding: 1.1rem;
  font-size: 1.14rem;
  word-spacing: 1px;
  font-weight: 300;
  a { color: white;text-decoration: underline; }
}

//main-navbar 
.navbar {
  padding: .5rem 2.5rem;
  .nav-item {
    margin: auto;
    padding: 1rem;
    font-size: 1.2rem;
    word-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all .2s;
    transition: all .2s;
    .nav-link {
      color: $color-black;
      &:hover,
      &:active { color: $color-orange; cursor: pointer;}
    }
  }
  .logo { height: 100%; }
  .fa-shopping-basket { color: $color-orange; font-size: 1.6rem;}
}

//dropDown

.dropdown__wrapper { 
  overflow: hidden; 

  &:hover .dropdown__item { color: $color-orange; }
  &:hover .dropdown__wrapper--content { display: block;}

  &--content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    z-index: 500;
    border-top: 1px solid $color-grey;
    margin-top: 1%;
  }
}

.dropdown__col {
   &:nth-child(2){ padding-left: 2.2%; }
   &:not(:last-child){ padding-bottom: 1.5rem; }
  p { margin: 30px 0 10px 0;line-height: 18px;font-size: 1.3rem; }
  li a {
  line-height: 2.7;
  font-size: 1.3rem;
  color: $color-black;
  text-transform: capitalize;
  &:hover { color:$color-orange; text-decoration: none; }
  }
}

/* Responsive layout, WIP*/
@media screen and (max-width: 600px) {
  .column {width: 100%;height: auto;}
}

