//color
$color-white: #E9EDF4;
$color-grey: #B5B9C2;
$color-grey-footer: #f9f9f9;
$color-black: #070920;

$color-orange: #ff5e48;

// //grid

// $gutter-horizontal-6: 6rem;
// $gutter-horizontal-3: 3rem;
