.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  border: 1px solid transparent;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.content .content-overlay {
  background: rgba(249, 249, 249, .7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover { border: 1px solid $color-orange; }
.content:hover .content-overlay { opacity: 1; }
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details { top: 50%;left: 50%;opacity: 1; }

.content-title {
  color: $color-orange;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
}

.fadeIn-bottom { top: 80%; }